body {
    padding-top: 120px;
}

.main-catering {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.riquadro {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    border: 1px solid darkgray;
    margin-bottom: 20px;
    width: 100%;
    
}
.colonna-foto {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 20px;

}
.colonna-testo {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
    justify-content: space-around;
    width: 100%;
    padding: 8px;
}
