
.main {
    display: flex;
    flex-direction: row;
}
.logo {
    flex: 1;
    max-width: 650px;
    
}
.logo img {
    width: 100%;
}
.left-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

}
.i-nostri-servizi {
    font-size: 30px;
    margin-bottom: 6px;
}
.button-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;

}
.button-list button {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 25px;
}
.button-list button:hover {
    background-color: lightskyblue;
    cursor: pointer;
}
